@import '../../../styles.scss';

$todoListWidth: 90vw;

.todoList {
  max-width: $todoListWidth;
  min-width: 350px;
  margin: 0 auto;
  background: $todoListBackgroundColor;
}

mat-form-field {
  width: 100%;
  // margin-bottom: 2.5vh;
}

.todoListInput {
  text-align: left;
  font-size: 20px;
  width: calc(100% - 4px);
  padding: 0;
  color: $todoListInputFontColor;
}

::placeholder {
  // color: $todoListInputPlaceholderBackgroundColor;
}
