@import '../../../styles.scss';

.todoItem {
  display: flex;
  background: $todoItemBackgroundColor;
  padding: 2% 0;
  text-align: left;
  height: 100%;
}

.todoItemLast {
  margin-bottom: 1%;
}

.todoItemCheckbox {
  // height: 4vh;
  // width: 4vh;
  margin: auto 2%;
}

.todoItemTitle {
  min-width: 60%;
  width: 84%;
  color: $todoItemFontColor;
  font-size: 30px;
  margin: 5px 0;
  line-height: 100%;
}

.todoItemComplete {
  text-decoration: line-through;
}

.deleteButton {
  margin: 0 2.5%;
}
